<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.test.tube.baby.streetpaper.app">

    <compatible-screens>
        <!-- all small size screens -->
        <screen
            android:screenSize="small"
            android:screenDensity="ldpi"/>
        <screen
            android:screenSize="small"
            android:screenDensity="mdpi"/>
        <screen
            android:screenSize="small"
            android:screenDensity="hdpi"/>
        <screen
            android:screenSize="small"
            android:screenDensity="xhdpi"/>
        <!-- all normal size screens -->
        <screen
            android:screenSize="normal"
            android:screenDensity="ldpi"/>
        <screen
            android:screenSize="normal"
            android:screenDensity="mdpi"/>
        <screen
            android:screenSize="normal"
            android:screenDensity="hdpi"/>
        <screen
            android:screenSize="normal"
            android:screenDensity="xhdpi"/>
    </compatible-screens>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:debuggable="false"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:description="@string/source_description"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:exported="true"/>

        <service
            android:name=".services.StreetPaperService"
            android:label="@string/app_name"
            android:description="@string/source_description"
            android:icon="@drawable/ic_launcher">
            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtSource"/>
            </intent-filter>

            <meta-data
                android:name="color"
                android:value="#fa0"/>
            <meta-data
                android:name="settingsActivity"
                android:value="com.test.tube.baby.streetpaper.app.activities.SettingsActivity"/>
        </service>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
    </application>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

</manifest>
